@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        WizardSoft oAuth2 Test Dummy
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-7">
                            Put your text here!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>